{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="my-5">Manage Content for the Login Screen</h2>

        <p><strong>Phone Number:</strong> {{ content.phone_number }}</p>
        <p><strong>Logo URL:</strong> {{ content.logo_url }}</p>
        <p><strong>Slogan:</strong> {{ content.slogan }}</p>
        <p><strong>Contact Line:</strong> {{ content.contact_line }}</p>

    <a href="{{ url_for('content.edit_login_content') }}" class="btn btn-primary my-4">Edit Content</a>
</div>
{% endblock %}
